@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", sans-serif;
  }
}

.dropdown {
  display: none;
}

.active {
  border-bottom: 2px solid #863a29;
}

.active1 {
  opacity: 1;
  pointer-events: auto;
}
